<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.order.test.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contract.manager.mapper.ContractTemplateMapper">

	<!-- 根据模版代号获取模版 -->
    <select id="fetch" parameterType="java.util.List" resultType="com.contract.manager.model.ContractTemplate">
        select * from contract_template where cat_code in
        <foreach collection="list" item="catCode" index="index" open="(" close=")" separator=",">
        #{catCode}
        </foreach>
    </select>
</mapper>