<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.order.test.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contract.manager.mapper.ContractMapper">

    <select id="selectAll" resultType="com.contract.manager.model.Contract">
        select * from contract
    </select>

    <!-- 查询合同列表 -->
    <select id="query" parameterType="com.contract.manager.model.request.ContractPageRequest" resultType="com.contract.manager.model.Contract">
        select contract.* from contract join contract_template template on contract.templateid = template.templateId
        where 1 = 1
        <if test="catCode != null and catCode.size > 0">
            and template.cat_code in
            <foreach collection="catCode" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="status != null and status.size > 0">
            and contract.status in
            <foreach collection="status" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="keyword != null">
            and ( conname like concat ( concat( '%', #{keyword} ), '%' ) or content like concat( concat( '%', #{keyword} ), '%' ) )
        </if>
    </select>

    <!-- 查询合同列表 -->
    <select id="queryContract" parameterType="com.contract.manager.model.request.ContractPageRequest"
            resultType="com.contract.manager.model.Contract">
        select contract.* from contract join contract_template template on contract.templateid = template.templateId
        where 1 = 1
        <if test="contract.catCode != null">
            and template.cat_code = #{contract.catCode}
        </if>
        <if test="status != null and status.size > 0">
            and contract.status in
            <foreach collection="status" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="keyword != null">
            and ( conname like concat ( concat( '%', #{keyword} ), '%' ) or content like concat( concat( '%', #{keyword} ), '%' ) )
        </if>
    </select>

    <!-- 获取合同信息 -->
    <select id="fetch" parameterType="com.contract.manager.model.Contract" resultType="com.contract.manager.model.Contract">
        select contract.* from contract join contract_template template on contract.templateid = template.templateId
        where 1 = 1
        <if test="catCode != null">
            and template.cat_code = #{catCode}
        </if>
        <if test="status != null">
            and contract.status = #{status}
        </if>
        <if test="contractId != null">
            and contract.contractId = #{contractId}
        </if>
    </select>
    
    <!-- 根据合同模版编号创建合同草稿 -->
    <insert id="createDraft" parameterType="com.contract.manager.model.Contract">
        insert into contract( contractid, conname, description, templateid, isDraft ) values ( #{contractId}, #{conname}, #{description}, #{templateId}, '1' )
    </insert>

    <!-- 根据合同模版编号读取合同草稿 -->
    <select id="fetchDraft" parameterType="com.contract.manager.model.Contract" resultType="com.contract.manager.model.Contract">
        select * from contract where isDraft = 1
    </select>

    <update id="saveDraft" parameterType="com.contract.manager.model.Contract">
        update contract set templateId = #{templateId} where contractId = #{contractId}
    </update>

    <insert id="save" parameterType="java.util.HashMap">
        insert into contract( contractid, conname, templateid, filePath ) values ( #{contractId}, #{contractName}, #{templateId}, #{filePath} )
    </insert>

    <update id="saveInfo" parameterType="com.contract.manager.model.Contract">
        update contract set conname = #{conname}, description = #{description} where contractid = #{contractId}
    </update>

    <delete id="delContract" parameterType="com.contract.manager.model.Contract">
        delete from contract where contractid = #{contractId}
    </delete>
</mapper>