<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.order.test.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contract.manager.mapper.TemplateMapper">

    <insert id="add" parameterType="com.contract.manager.model.Template">
        insert into contract_template ( templateId, title, content, cat_code, fileName ) 
        values
        ( #{templateId}, #{name}, #{desc}, #{catCode}, #{file} )
    </insert>

	<!-- 根据模版代号获取模版 -->

    <!-- 获取模版 -->
    <select id="fetch" parameterType="com.contract.manager.model.request.TemplatePageRequest"
            resultType="com.contract.manager.model.Template">
        select
            *
        from
            contract_template
        where
            1 = 1
        <if test="template != null and template.catCode != null">
            and cat_code = #{template.catCode}
        </if>
        <if test="catCode != null and catCode.size > 0">
            and cat_code in
            <foreach collection="catCode" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="keyword != null">
            and ( title like concat( concat( '%', #{keyword} ), '%' ) or content like concat( concat( '%', #{keyword} ), '%' ) )
        </if>
    </select>

    <!-- 根据关键字进行查询 -->
    <select id="queryByKeyword" parameterType="java.util.Map"
            resultType="com.contract.manager.model.Template">
        select
            *
        from
            contract_template
        where
            1 = 1

        <if test="keyword != null">
            and ( title like concat( concat( '%', #{keyword} ), '%' ) or content like concat( concat( '%', #{keyword} ), '%' ) )
        </if>
    </select>

    <select id="fetchByTemplateId" parameterType="java.lang.String" resultType="com.contract.manager.model.Template">
        select * from contract_template where templateId = #{templateId}
    </select>

    <insert id="saveWorkflow" parameterType="java.util.Map">
        insert into rel_template_process( templateid, processid ) values( #{templateId,jdbcType=VARCHAR}, #{processId,jdbcType=VARCHAR} )
    </insert>
</mapper>